@model IEnumerable<WebApplication1.Models.Klanten>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <br /><br />

        <table class="table" style="font-family:Raleway;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mail)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.achternaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.klantId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.klantId })
                    </td>
                </tr>
            }

        </table>
    </center>
</body>
</html>
