@model IEnumerable<WebApplication1.Models.Caterie>
@{}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Maak een categorie aan</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" style="font-family:Raleway; font-size: 16px;">
        <tr>
            <th>
                Categorie
            </th>
            <th>
                Aantal personen
            </th>
            <th>
                Aantal koffers
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.caterieNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantalPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aantalKoffers)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.caterieId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id=item.caterieId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.caterieId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
